body {
    animation: theme 21s linear infinite;
}
body:after, body:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(0, 0, 0, 0.05);
    animation: background 90s linear infinite;
}
body:after {
    left: 15vw;
}
body:before {
    right: 15vw;
    animation-delay: -30s;
    animation-direction: reverse;
}
@keyframes theme {
    0% {
        background: #74c390;
   }
    16% {
        background: #5dbdb6;
   }
    33% {
        background: #59d4e1;
   }
    50% {
        background: #51bce8;
   }
    66% {
        background: #fa5374;
   }
    83% {
        background: #e46653;
   }
    100% {
        background: #74c390;
   }
}
@keyframes background {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}

.main-data-block {
    background: rgba(255, 255, 255, 0.1); /*this value is temp for viewing refereneces*/
    margin: auto;
    width: 80%;
    margin-top: 150vh;
}

.project_logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: black solid 3px;
    /*fit image in the middle*/
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    padding: 15px;
    margin: 15px;
}

.description_project {
    margin-left:30%;
    /*change font size and family to a more blog style*/
    font-size: 20px;
    font-family: 'Roboto', serif;
    /*change color to be more opace*/
    color: rgba(0, 0, 0, 0.7);
}

.main-data-block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 70px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    left: 0;
    top: 0; /* At the top */
    z-index: 99;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-weight: bold;
    transition: 0.4s;
  }
  
  /* Links on mouse-over */
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active/current link */
  #navbar a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Display some links to the right */
  #navbar-right {
    float: right;
  }

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }

    .main-data-block {
        background: rgba(255, 255, 255, 0.1); /*this value is temp for viewing refereneces*/
        margin: auto;
        width: 80%;
        margin-top: 150px;
    }

    /*don't show project logo*/
    .project_logo {
        display: none;
    }
  }
